img{
    width: 100%;
    height: 400px;
    max-width: 1200px;
    
}
.img-div{
    text-align: center;
}
h1{
    text-align: center;
}
p{
  font-size: 24px;
  
}
.desc{
    width: 100%;
    margin: 0 auto;
    max-width: 1200px;

}
.desc p{
    line-height: 1.3;
    font-size: 24px;
    text-align: justify;
    
}
section{
    display: inline-block;
    width: 70%;
    margin-right: 24px;
    vertical-align: top;
}
aside{
    display: inline-block;
    width: 25%;
}
.place-wrapper{
    width: 100%;
}
.place-wrapper img{
    width: 100%;
    height: 250px;
}
