body {
    margin: 0;
}

#topbar {
    height: 80px;
    width: 100vw;
    background-color: rgb(194, 150, 92);
}

.nav-style {
    display: flex;
    justify-content: space-between;

}

.left {
    display: flex;
    align-items: center;

}

.right {
    display: flex;
    align-items: center;
}

.p1 {
    margin-right: 10px;
    margin-top: 28px;
    margin-left: 10px;
}

.p2 {
    margin-left: 10px;
    margin-top: 28px;
    margin-right: 10px;
}


.anime {
    width: 400px;
    height: 400px;
    border: 1px solid black;
    margin: 70px;
    animation-name:animate ;
    animation-duration: 4s;
    animation-iteration-count: infinite;
    

}
.anime:hover{
    animation-play-state: paused;
}

@keyframes animate{
    0%{
        background-color: rgb(38, 231, 167);
    }
    100%{
        background-color: rgb(3, 143, 143);
    }
}