body{
    margin: 0;
}
#header{
    background-color: aqua;
    padding: 30px 40px;
    
}
.link-item{
    padding: 10px;
    text-decoration: none;
    font-size: 30px;
    color: black;
}
.link-item:link{
    color: blue;
}
.link-item:visited{
    color: green;
}
.link-item:hover{
    color: red;
}
.link-item:active{
    color:purple
}




#ordered-list{
    list-style-type: upper-alpha;
    list-style-position: inside;
}

#unordered-list{
    list-style-type: none;
}

#btn-login{
padding: 15px 20px;
background-color: rgb(131, 207, 233);
border-radius: 7px;
border: none;
color: black;
font-size: 20px;
outline: none;
cursor: pointer;

}
#btn-login:hover{
    background-color: blue;
    color: white;
}
#btn-signup{
background-color: white;
border: 2px solid lightblue;
font-size: 20px;
padding: 15px 20px;
border-radius: 8px;
outline: none;
cursor: pointer;
}
#btn-signup:hover{
    background-color: lightblue;
}
#btn-disable{
    background-color: lightblue;
    font-size: 20px;
padding: 15px 20px;
border-radius: 8px;
outline: none;
cursor: not-allowed;
border: none;
opacity: 0.7;
}
.span-style{
    padding: 8px;
}
